$colors: (
  primary: #0e749e,
  secondary: #e0ddb2,
);

$font-family-base: (Helvetica, Arial, sans-serif);

$font-size-base: (1.25rem);

$card-bg: #e0ddb2;

$card-border-color: #d7d06e;

$card-border-width: 2px;
